@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Staatliches&display=swap');

*{
    padding: 0;
    margin:0;
}

ol{
    list-style-type: none;
    text-align: center;
}

img.small{
    width: 40px;
    height: 40px;
}

img.medium{
    width: 70px;
    height: 50px;
}

img.large{
    width: 20vh;
}

body {
    background-color:black;
    font-family: 'Roboto', sans-serif;
    color:white;
}

h2 {
    font-family: 'Staatliches', cursive;
    color:slategray;
    text-align:center;
}

h3{
    font-size:2vh;
    font-family: 'Staatliches', cursive;
    color:white;
    text-align: center;
    padding:2px;
}

h4{
    text-align: center;
    font-size: 35px;
    color:black;
}

footer {
    font-size: 15px;
    align-items: center;
    text-align: center;
    padding:1%;
    background-color: rgb(17, 17, 17);
}

p{
    color:black;
}

ul li a:hover{
    background:whitesmoke;
    color:black;
}

a {
    text-decoration:none;
    color:whitesmoke;
}

h2 a{
    color:black;
    font-family: 'Staatliches', cursive;
    color:slategray;
    text-align: center;
}

.botonGris {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.botonGris:hover {
    background-color: grey;
    box-shadow: 0px 15px 20px rgb(214, 213, 213);
    color: #fff;
    transform: translateY(-7px);
}

.botonGris:active {
    transform: translateY(-1px);
}

.contacto-titulo{
    font-size: 2vh;
    padding:1%;
    text-align: center;
    margin-top:1%;
}

.contacto-titulo form{
    text-align: left;
    background-color:whitesmoke;
    border: double black;
    color:black;
    font-size:1rem;
    padding:2%;
}

.presupuesto{
    text-align: left;
    background-color:whitesmoke;
    border: double black;
    color:black;
    font-size:1rem;
    padding:2%;
    margin-bottom:2%;
    margin-left:15%;
    margin-right:15%;
}

.Index{/*título del index*/
    font-size: 2vh;
    padding: 2%;
    background-color: black; 
}

.nosotrosIndex{
    text-align: justify;
    font-size: 2vh;
    background-color:black;
    color:white;
}

.wspYPresupuesto{
    margin: 3%;
}

.nosotros h3{
    font-size:3vh;
    color:white;
}

.nosotros{
    text-align: justify;
    font-size: 2vh;
    color:white;
    margin:2% 7%;
    padding:2%;
}

.solicitaPresup {
    font-size:30px;
    margin-top:2%;
    text-align:center;
}

.subtituloPresup{
    text-align:center;
}
